html, body {
    min-height: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #13cfff 0%, #cc00cc 100%);
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    padding-right: 50px;
    text-align: right;
}

nav {
    background-color: #555;
    overflow: hidden;
}

a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    max-width: 145vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #25cd9ce0;
    border-radius: 5px;
    box-shadow: 14px 14px 9px 3px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.container > h2, p, label {
    color: white;
}

#introHeader {
    color: white;
}

/* #introParagraph {
    color: #691b0d;
    text-decoration: solid;
} */

form {
    display: flex;
    flex-direction: column;
}

label {
    /* margin-bottom: 8px; */
    padding-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.rowWrapper {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columnWrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    max-width: 64vh;
}

.rightContent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: table;
    background-color: #ffffff
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #f194f86b
}

th {
    background-color: #f2f2f2;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 10px;
}

#response-container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #194c42c9;
    border-radius: 5px;
    box-shadow: 14px 14px 9px 3px rgb(0 0 0 / 23%);
    display: none;
}

#response-message {
    color: white;
    margin: 0;
}

#close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.customBtn {
    height: 5vh;
    background-color: #5c1a59e6;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    box-shadow: 6px 6px 10px 2px rgb(65 3 80 / 35%);
    cursor: pointer;
}
.customBtn:hover {
    background-color: #5b0c74c2;
}

.clientTypeRadio {
    margin-bottom: 10px;
}

#spinner {
    width: 50px;
    height: 50px;
    animation: rotateSpinner 800ms cubic-bezier(0.44, -0.01, 0.52, 0.95) infinite;
}

#spinnerLogo {
    width: 20px;
    height: 20px;
    padding: 27px;
    rotate: 198deg;
    animation: color-change-border 3s infinite;
}

@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

#textAreaSchedule {
    resize: none;
    margin-bottom: 10px;
}

#confirmationBtn {
    margin-right: 3vh;
    margin-left: 3vh;
}